
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verificare cont</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Succes!</strong> Contul dumneavoastra a fost activat cu succes! Apasa aici pentru @Html.ActionLink("Login", "Login", "Utilizator")
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Eroare!</strong> @ViewBag.Message
    </div>
}