
@{
    ViewBag.Title = "Despre";
}
<br />
<br />
<h2>Bine ai venit în bucătăria mea! </h2>
<br />

<strong>Express Food </strong> a pornit în acel moment în care am simţit că vreau să împărtăşesc cu alţi iubitori şi iubitoare de gătit, pozele și rețetele care se prăfuiau în memoria telefonului sau pe calculator. Am pornit totul la începutul lunii Aprilie 2016 şi sper să continui să bucur gospodinele cu reteţe simple dar sănătoase şi gustoase cît mai mult timp de acum încolo.

Sper să vă placă călătoria mea începută în ale gătitului. Eu vreau să învăt de la voi şi voi de la mine, fiindcă nu sunt CHEF, ci o simplă gospodină la ea în bucătărie. Aşa că toate sugestiile vor fi apreciate constructiv. 
<br />
<br />
<img src="https://images.unsplash.com/photo-1520605363242-1012f0ae0c15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80"/>

